body {
  margin: 8px;
}

.form-container {
  padding: 8px;
  margin: 8px;
  border: 1px solid var(--bs-gray-500);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-white);
  display: inline-block;
}

.custom-collapse-header {
  display: block;
  padding-top: calc(.375rem + var(--bs-border-width));
  padding-bottom: calc(.375rem + var(--bs-border-width));
}

.custom-collapse-header::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-left: 8px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s ease-in-out;
}

.custom-collapse-header:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.custom-card {
  padding: 10px;
  border: 1px solid var(--bs-gray-300);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-white);
  margin: auto 20px;
}

.include-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.pic,.pic-start,.pic-inter,.pic-end {
  transform-origin: center;
  object-fit: contain;
  width: 150px;
  position: relative;
}

.slot-switch-null {
}
.slot-switch-lr {
  transform: scaleX(-1);
}
.slot-switch-ud {
  transform: scaleY(-1);
}
.slot-switch-180 {
  transform: rotate(180deg);
}
.slot-switch-90 {
  transform: rotate(90deg);
}
.slot-switch-270 {
  transform: rotate(270deg);
}
.slot-switch-transpose {
  transform: rotate(90deg) scaleY(-1);
}
.slot-switch-transverse {
  transform: rotate(90deg) scaleX(-1);
}

.block-container, .random-container {
  border: 1px solid black;
  border-radius: var(--bs-border-radius);
  position: relative;
  color: var(--bs-body-color);
}

@media (max-height: 500px) or (max-width: 800px) {
  .pic,.pic-start,.pic-inter,.pic-end {
    transform-origin: center;
    object-fit: contain;
    width: 100px;
  }
}

.pic-inner-container {
  display: flex;
  flex-direction: column;
}

.pic-fname-overlay {
  padding: 0 8px;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
  z-index: 1;
}

.pic-ename-overlay {
  padding: 8px;
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.pic-ename-overlay img {
  width: 12px;
  height: 12px;
  margin: 0 4px;
}

.pic-delete-overlay {
  padding: 8px;
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  width: 35px;
  height: 35px;
  justify-items: center;
  align-items: center;
}

.pic-delete-overlay img {
  min-width: 8px;
  min-height: 8px;
}

.pic-alt-overlay {
  padding: 8px;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.extend-round {
  flex: 0 0 35px;
  display: flex;
  border: 1px solid black;
  border-radius: var(--bs-border-radius);
  width: 35px;
  height: 35px;
  justify-items: center;
  align-items: center;
}

.extend-round img {
  display: block;
  padding: 8px;
  min-width: 8px;
  min-height: 8px;
}

.extend-round-placeholder {
  flex: 0 0 35px;
  width: 35px;
  height: 35px;
}

@media (max-height: 500px) or (max-width: 800px) {
  .pic-fname-overlay {
    padding: 0 4px;
    font-size: 12pt;
  }

  .pic-ename-overlay {
    padding: 4px;
    font-size: 8pt;
  }

  .pic-ename-overlay img {
    width: 10px;
    height: 10px;
    margin: 0 4px;
  }

  .pic-delete-overlay {
    padding: 4px;
    width: 20px;
    height: 20px;
  }

  .extend-round, .extend-round-placeholder {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
  }
  .extend-round img {
    padding: 4px;
  }
}

.pic-sep {
  border-bottom: 1px solid var(--bs-gray-300);
  margin: 0 10px;
}

.include-container .form-check-input {
  position: absolute;
  visibility: hidden;
}

.include-container .form-check {
  padding: 0;
  display: inline-block;
}

.include-container .form-check .block-container,
.include-container .form-check .random-container {
  overflow: hidden;
  position: relative;
}

.include-container .form-check.disabled .block-container,
.include-container .form-check.disabled .random-container {
  border: 1px solid #ccc;
}

.include-container .form-check.disabled .block-container .pic-inner-container::after,
.include-container .form-check.disabled .random-container .pic-inner-container::after {
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: rgba(255,255,255,0.75);
  pointer-events: none;
  z-index: 2;
}

.round {
  display: inline-block;
}

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.round .pic-inner-container, .dive-pool-horizontal .pic-inner-container  {
  flex-direction: row;
}

.round .pic-sep, .dive-pool-horizontal .pic-sep {
  border-right: 1px solid var(--bs-gray-300);
  border-bottom: none;
  margin: 10px 0;
}

.draw-editor-container {
  text-align: right;
}

.rerun-button {
  background: none;
  border: none;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.5s ease-out;
}

.rerun-container {
  display: flex;
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.rerun-container > * {
  margin: 0;
}

.error {
  color: var(--bs-red);
}

.formation-picker, .dive-pool, .dive-pool-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.formation-picker .block-container.selected,
.formation-picker .random-container.selected {
  border-width: 3px;
}

.formation-picker .block-container.not-preferred .pic-inner-container::after,
.formation-picker .random-container.not-preferred .pic-inner-container::after {
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: rgba(255,255,255,0.75);
  pointer-events: none;
  z-index: 2;
}

.modal-dialog {
  max-width: 800px;
}

.title-container {
  display: flex;
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.about-button {
  background: none;
  border: none;
  display: inline-block;
}

.figure {
  border: 1px solid var(--bs-gray-500);
  border-radius: var(--bs-border-radius);
  padding: 8px;
}

.col-form-label {
  font-weight: bold;
}

.dive-pool, .dive-pool-horizontal {
  margin: 16px;
  justify-content: flex-start;
}

@media print {
  .no-print {
    display: none;
  }
}

.comp-class-container {
  display: flex;
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

